<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heque.dao.ActivityDao" >
  <resultMap id="BaseResultMap" type="com.heque.pojo.VoActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="actName" property="actName" jdbcType="VARCHAR" />
    <result column="actType" property="actType" jdbcType="SMALLINT" />
    <result column="activityStartTime" property="activityStartTime" jdbcType="TIMESTAMP" />
    <result column="activityEndTime" property="activityEndTime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="actDesc" property="actDesc" jdbcType="VARCHAR" />
    <result column="actStatus" property="actStatus" jdbcType="VARCHAR" />
    <result column="isDel" property="isDel" jdbcType="SMALLINT" />
    <result column="marks" property="marks" jdbcType="VARCHAR" />
    <result column="actContent" property="actContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, actName, actType, activityStartTime, activityEndTime, createTime, updateTime, 
    actDesc, actStatus, isDel, marks, actContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 通过活动名称获取活动详情 -->
  <select id="selectByActName" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List"/> FROM activity WHERE actName like 
  		<!-- <if test="dbName == 'oracle'">'%'||#{actName}||'%'</if>
		<if test="dbName == 'mssql'">'%'+#{actName}+'%'</if> -->
		concat('%',#{actName},'%')
  	
  </select>
</mapper>